information.txt
rds-combined-ca-bundle.pem
bin/
boto3/
boto3-1.9.199.dist-info/
botocore/
certfifi/
certfifi-2019.6.16/
chardet/
chardet-3.0.4.dist-info/
dateutil/
docutils/
__pycache__/
idna/
jmespath/
PIL/
qrcode/
requests/
s3transfer/
share/
urllib3/
vininfo/
archive.zip